body
{
    width: 100%;
}
header,h1
{
    text-align: center;
    /* background-color: red; */
}
bodyrow,img,h3
{
    /* background-color: red; */
    width: 250px;
    height: 250px;
    float: left;
    padding: 7px;
    text-align: center;
   
}

